<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<p>Last updated: <%= time_ago_in_words(@user.updated_at) %> ago
  </p>

<p>Your music:</p>
  <%= @user.tracks.each do |track| %>
  <%= track.name %>
  <% end %>
<br>
<%= link_to 'Tracks', tracks_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
