<p id="notice"><%= notice %></p>

<section class="profile theme-two">
  <h1 style="background-image: url('/assets/background_images/<%= image_header(@user) %>');"><%= @user.name %></h1>

  <h3><%= @user.name %>'s tracks</h3>

  <table class="table">
    <tr>
      <th>Name</th>
      <th colspan="4">Description</th>
    
    </tr>

  <%= render @tracks %>
  </table>

  <br>
  <p>
    <b>Role:</b>
    <%= @user.role %>
  </p>
  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <p>Last updated: <%= time_ago_in_words(@user.updated_at) %> ago
    </p>

  <%= link_to 'Tracks', tracks_path %> |
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</section> 