<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <ul class="nav navbar-nav">
            <li><%= link_to "Tracks", tracks_path %></li>
            <% if can? :create, Track %>
            <li><%= link_to "New Track", new_track_path %></li>
            <% end %> 
            <% if can? :manage, User %>
            <li><%= link_to "Users", users_path %></li>
            <% end %> 
          </ul>
             
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li><%= link_to current_user.name, user_path(current_user.id) %></li>
            <li><%= link_to 'I\'m outta here!', '/logout' %></li>
            <% else %>
            <li><%= link_to 'Log in', new_session_path %></li>
            <li><%= link_to "I'm a new user", new_user_path %></li>
            <% end %>
          </ul>
     </div><!-- /.container-fluid -->
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="jumbotron">
      <h1>This is Cloudify</h1>
      <p>Seamless music sharing</p>
      </div>
      <% flash.each do |name, msg| %>
      <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
      </div>
      <% end %>


      <%= yield %>
    </div>
  </main>

</body>
</html>
