<div class="container">
<h3>Hello! Log in here</h3><br>

<%= form_tag sessions_path do %>

  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
  </div>
  <div class="form-group">
    <%= label_tag :password %><br>
    <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Password" %>
  </div>
  <div class="actions">
    <%= submit_tag "Log in", class: "btn btn-primary pull-right" %>
  </div>

<% end %>

</div>


