<tr>
  <td><%= track.name %></td>
  <td><%= track.description %></td>

  <% if can? :create, Track %>
  <%= link_to "New Article", new_track_path %></p>
  <% end %>
    <% if can? :update, @track %>
      <%= link_to 'Edit', edit_track_path(track) %> |
    <% end %>
    <% if can? :destroy, @track %>
      <%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure you want to delete this track?' } %> 
    <% end %>
  </p>
  <td><%= link_to 'Show', track %></td>
  <td></td>
  
</tr>