<tr>
  <td><%= track.name %></td>
  <td><%= track.description %></td>
  <td><%= track.user.try :name %></td>
  <td><%= link_to 'Show', track %></td>

  <% if can? :update, @track %>
   <td> <%= link_to 'Edit', edit_track_path(track) %> </td>
  <% end %>

  <% if can? :destroy, @track %>
      <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure you want to delete this track?' } %> </td>
  <% end %>
</tr>