<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Track name</th>
    <th>Description</th>
    <th>User</th>
    <th>Artwork</th>
    <th></th>
  </tr>

  <tr>
    <td><%= @track.name %></td>
    <td><%= @track.description %> </td>
    <td><%= @track.user_id %></td>
    <td><%= @track.artwork_file %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
<table>


