<p id="notice"><%= notice %></p>
  <div class="container">
    <h3><%= @track.user.name %>'s tracks</h3><br>
   <ul class="list-inline">
      <li><%= link_to image_tag(@track.artwork_file.thumb.url), @track.artwork_file.detail.url %></li>
      <br>
      <h4><li><b>Track name: </b><%= @track.name %></li> 
       <li><b>Description: </b><%= @track.description %></li></h4><br>
    <div class = "media">
      <%= audio_tag @track.music_file.url, controls: true %>
    </div>
  <% if can? :update, Track %>
  <li><%= link_to "Edit", edit_track_path %></li>
  <% end %> </ul> 
    <b>Last updated: </b><%= time_ago_in_words(@track.updated_at) %> ago<br><br>

    <h3>Add a comment:</h3>
    <%= form_for [@track, @comment], html: {role: "form"} do |f| %>
      <div class="form-group">
        <!-- <label for="body">Body</label> -->
        <%= f.text_area :body, rows: "5",  class: "form-control", placeholder: "Enter comment" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary pull-right" %>
      </div><br>
    <% end %>

    <%= render @comments %>
  
   

<%= link_to 'Back', tracks_path %>

</div>

