<p id="notice"><%= notice %></p>
  
    <h3><%= @track.user.name %>'s tracks</h3><br>
   <ul class="list-inline">
   
   <b>Track name: </b><%= @track.name %> 
    <li><b>Description: </b><%= @track.description %></li><br><br>
      <li><%= link_to image_tag(@track.artwork_file.thumb.url), @track.artwork_file.detail.url %></li>
      <br>
    <div class = "media">
      <%= audio_tag @track.music_file.url, controls: true %>
    </div>
  </ul> 
    <b>Last updated: </b><%= time_ago_in_words(@track.updated_at) %> ago<br>

    <%= render @comments %>
  
    <h3>Add a comment:</h3>
    <%= form_for [@track, @comment], html: {role: "form"} do |f| %>
      <div class="form-group">
        <!-- <label for="body">Body</label> -->
        <%= f.text_area :body, rows: "5",  class: "form-control", placeholder: "Enter comment" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary pull-right" %>
      </div><br>
    <% end %>

<%= link_to 'Back', tracks_path %>



