<p id="notice"><%= notice %></p>
  

    Track name: <%= @track.name %>
    Description: <%= @track.description %> 
    User: <%= @track.user_id %>
    Artwork: <%= @track.artwork_file %>
    Track: <%= audio_tag @track.music_file.url, autoplay: true, controls: true %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>



