<p id="notice"><%= notice %></p>
  
    <h3><%= @track.user.name %>'s tracks</h3><br>
    Track name: <%= @track.name %> <br>
    Description: <%= @track.description %> <br>
       
    <div class = "media">
      <%= audio_tag @track.music_file.url, autoplay: true, controls: true %>
    </div>
    Last updated: <%= time_ago_in_words(@track.updated_at) %> ago<br>
    <%= render @comments %>
    <h3>Add a comment:</h3>
    <%= form_for([@track, @comment]) do |f| %>
      <div class="field">
        <%= f.label :body %><br />
        <%= f.text_area :body %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
   

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>



